<nav>
  <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
  <a routerLink="/parent" routerLinkActive="active" class="nav-link">Parent and Child</a>
  <a routerLink="/signal" routerLinkActive="active" class="nav-link">Signal</a>
  <a routerLink="/reactive-forms" routerLinkActive="active" class="nav-link">Reactive Forms</a>
  <a routerLink="/ngdocheckdemo" routerLinkActive="active" class="nav-link">NgDoCheck Demo</a>
  <a routerLink="/form" routerLinkActive="active" class="nav-link">Form</a>
</nav>